name: CI/CD Deployment to Google Cloud VM

on:
  push:
    branches:
      - main # Change this to the branch you push from (e.g., main or master)

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
          

      - name: Deploy and Restart Application
        uses: appleboy/ssh-action@master
        with:
          # Use your username and IP
          host: 35.184.201.200 
          username: joshu
          key: ${{ secrets.SSH_SOLID_KEY }}
          # Combine all remote commands into a single script
          script: |
            # Navigate to your repo directory
            cd Foodies 
            # Pull latest changes
            git pull 
            # Install new dependencies
            npm install 
            # Restart the PM2 process
            pm2 restart app
